***Задание 1***

In [41]:
import pandas as pd
rating = pd.read_csv('ratings.csv')
movie = pd.read_csv('movies.csv')
#собираем данные с помощью left join
joined = data.merge(movie, on='movieId', how='left')
#ищем фильмы с рейтингом 5.0, сортируем по убыванию, выводим первый
joined1 = joined.query('rating == 5.0')
joined1.groupby('title').count().reset_index()[['rating','title']].sort_values('rating', ascending=False).head(1)

      rating                             title
2310     153  Shawshank Redemption, The (1994)

***Задание 2***

In [48]:
power = pd.read_csv('power.csv')
#собираем Прибалтику
pw = power[ (power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia') ]
#выбираем категории
pw_cat = pw[ (pw['category'] == 4) | (pw['category'] == 12) | (pw['category'] == 21) ]
#фильтр по датам
pw_year = pw_cat[ (pw_cat['year'] >=2005) & (pw_cat['year'] <= 2010) ]
#исключаем отрицательные значения
pw_q = pw_year[ pw_year['quantity'] >=0 ]
#суммируем значения
sum_q = pw_q['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики за период с 2005 по 2010 года: {sum_q}')

Суммарное потребление стран Прибалтики за период с 2005 по 2010 года: 240580.0

***Задание 3***

In [38]:
page_url = 'https://spbexchange.ru'
df = pd.read_html(page_url, encoding='utf-8')[2]
type(df)

pandas.core.frame.DataFrame

In [39]:
df.head()

  Иностранные акции (USD)                     Unnamed: 1  покупка  продажа
0                      FB                 Facebook, Inc.    23055      231
1                       V                      Visa Inc.    19853      199
2                    BABA  Alibaba Group Holding Limited    21914     2195
3                    AMZN               Amazon.com, Inc.     2524   252474
4                    NFLX                  Netflix, Inc.    41678    41773