***Задание 1***

In [8]:
import pandas as pd

def movies_class(rate):
    if rate <= 2:
        return 'Низкий рейтинг'
    elif rate < 4.5:
        return 'Средний рейтинг'
    elif rate >= 4.5:
        return 'Высокий рейтинг'
    else:
        return 'Некорректный рейтинг'
    
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
# соединяем 'movies' и 'ratings', удаляем лишние столбцы и используем ранее созданную функцию для получения нового столбца
class_ratings = ratings.groupby('movieId').mean().merge(movies, on='movieId', how='left')
class_ratings.drop(['userId', 'timestamp', 'genres'], axis='columns', inplace=True)
class_ratings['classification'] = class_ratings['rating'].apply(movies_class)
class_ratings.head()

   movieId    rating                               title   classification
0        1  3.872470                    Toy Story (1995)  Средний рейтинг
1        2  3.401869                      Jumanji (1995)  Средний рейтинг
2        3  3.161017             Grumpier Old Men (1995)  Средний рейтинг
3        4  2.384615            Waiting to Exhale (1995)  Средний рейтинг
4        5  3.267857  Father of the Bride Part II (1995)  Средний рейтинг

***Задание 2***

In [36]:
geo = pd.read_csv('keywords.csv')

geo_data = {'Центр': ['москв', 'тул', 'ярославл'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }


def geo_class(keywords):
    for key, value in geo_data.items():
        for city in value:
            if city in keywords:
                return key
        return 'undefined'
geo['region'] = geo['keyword'].apply(geo_class)
geo[geo['region'].isin(['Центр'])].head(15)

                                 keyword   shows region
127                         авито москва  979292  Центр
143                           эхо москвы  889657  Центр
197                      погода в москве  745745  Центр
414           погода в москве на 14 дней  400914  Центр
512                   карта метро москвы  331857  Центр
584                   схема метро москвы  374592  Центр
647               портал госуслуг москвы  263844  Центр
652                      работа в москве  265000  Центр
792                         метро москвы  221363  Центр
849                      авито ярославль  209581  Центр
987                         карта москвы  186108  Центр
1011                         банк москвы  182666  Центр
1136  госуслуги москвы портал pgu mos ru  166946  Центр
1259                              москва  153050  Центр
1287    авто ру авто с пробегом в москве  153900  Центр